# nodejsscan
njsscan==0.3.1
colorama==0.4.4
jschema-to-python==1.2.3
attrs==20.2.0
jsonpickle==2.1.0
pbr==5.8.1
libsast==1.5.0
PyYAML==6.0
chardet==3.0.4
idna==2.8
semgrep==0.80.0
click==8.0.4
click-option-group==0.5.3
jsonschema==4.4.0
importlib-resources==5.4.0
pyrsistent==0.18.1
packaging==21.3
pyparsing==3.0.7
peewee==3.14.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
setuptools==41.2.0
tqdm==4.63.0
wcmatch==8.3
bracex==2.2.1
sarif-om==1.0.4
tabulate==0.8.9
